# Ignoring all __pycache__ files
__pycache__/
model/__pycache__
**/__pycache__
**/**/__pycache__

# Ignoring logging files
*.out
*.err
*.log

# Ignoring log and wandb dirs
sbatch-logs/*
wandb/*
sbatch-scripts/gl671475/wandb/  
sbatch-scripts/hf201627/wandb/
sbatch-scripts/ji111636/wandb/
sbatch-scripts/jm351565/wandb/
